body{
    font-size: 20px;
}
.navbar-color{
    background: rgba(0,0,0,0.6);
}
.div-opac{
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 15px;
    /*width: 36%;*/
}
.text-color{
    color: white; !important;
}
.fontbt{
    font-size: 16px;
    color: white; !important;
}
.col-md-3 div:not(:hover){
    transition: 1s;
}
.mtopcont{
    margin-top: 59px;
}
.logo{
    width: 35px;
}
.brandcar{
    padding-top: 23rem;
}
.div-m-5{
    margin-top: 5%;
}
.div-models{
    background-color: rgba(0, 0, 0, 0.6);
}
.body-m-c::before{
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0; right: 0; /* Вся ширин */
    top: 0; bottom: 0; /* Вся высота */
    z-index: -1; /* Фон ниже текста */
    /* Параметры фона */
    background: url("../img/audi-apre-la-prima-concessionaria-virtuale.jpg") center / cover no-repeat;
    filter: blur(6px); /* Размытие */
}
footer{
    width: 100%;
    background: #111;
    margin-top: 1.5rem;
    /* Sticky footer */
    flex-shrink: 0;
}
.grow{
    overflow:hidden;
}
.grow img {
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    -webkit-transition: all 1s ease-out;
}
.grow img:hover {
    position: relative;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.1); /*вот так*/
}
.footer{
    margin-top: 233px;
}
